/* GENERAL STYLING */



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* TRANSITIONS */

a, .bth{
    transition: all 0.3s ease;
}

/* DESKTOP NAV */

nav, 
.nav-links {
    display: flex; 
}

nav { 
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: purple;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: purple;
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}
/* HAMBURGER MENU */

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}